# 여기에는 깃허브에 올릴 환경변수 예시 작성이 되어있습니다. 
# 실제 환경변수 값은 본인 로컬에 따로 .env 파일 생성 후 작성해서 보관하기! (깃허브에 올리면 안됨)
# 여기는 데이터 베이스 api 키를 작성란. db담당자한테 받은 키 .env 파일에 작성해주세요!
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
# 테스트용 개발 데이터베이스 사용하고 싶다면 본인 .env 파일에서 true로 바꾸기
VITE_ENABLE_TEST_SUBMISSION=false
